
body {
  font-family:  'Verdana', 'Geneva', 'Kalimati', sans-serif;
}

table.meteo, th.meteo, td.meteo
{
color: #000000; 
font-family: Verdana,Geneva,Kalimati,sans-serif; 
font-size: 25pt; 
width:800px;
font-style: normal;
text-align: center; 
/* vertical-align: text-top;??? */
/*border: 1px solid;*/
border: none;
table-layout:auto;
}

table.air, td.air
{
font-family: Verdana,Geneva,Kalimati,sans-serif; 
font-size: 16pt; 
}

td.maly
{
font-size: 15pt; 
}

td.stredni
{
font-size: 15pt; 
}

font.mensi
{
 font-size: 20px;
}
